body {
  font-family: sans-serif;
  margin: 40px;
  background-color: #f9f9f9;
}

h1 {
  font-family: "Chewy";
  color: #333;
  font-size: 50px;
  text-align: center;
}

.restaurant {
  display: flex;                  /* IMPORTANT */
  justify-content: space-between; /* keep image right */
  align-items: center;
  background: #f9f7d3de;
  padding: 15px 20px;
  margin-bottom: 15px;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);

  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.restaurant:hover {
  transform: translateY(-10px);
  box-shadow: 0 6px 12px rgba(0,0,0,0.15);
}

.restaurant h2 {
  margin: 0 0 5px 0;
  color: #7e8557;
}

.restaurant p {
  margin: 4px 0;
  color: #555;
}

.restaurant-info {
  max-width: 60%;
}

.restaurant-image {
  width: 200px;
  height: 200px;
  flex-shrink: 0;
}

.restaurant-image img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.controls {
  display: flex;
  gap: 10px;
  margin: 20px 0 20px 0;
  justify-content: center;
  align-items: center;
}

.controls input,
.controls select {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ddd;
}

.controls button {
  padding: 10px 15px;
  border-radius: 8px;
  border: none;
  background: #333;
  color: white;
  cursor: pointer;
}

